@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');

#titre
{
    padding-top: 40px;
    padding-left: 15px;
    color: black;
    font-size: 2em;
    transition: 1s;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

   
}

#banniere
{
	background-color: white;
    background-image: url("pictures/dessin150px.png");
    background-position: 100% ;
    opacity: 1;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    margin-top: -2px;
    margin-left: px;
    margin-right: 0px ;
    padding-right: 00px;
    z-index: 1;

}

#imageba
{

}

#menu
{
    list-style: none;
    display: flex;
    justify-content: space-around;  

}


.bouton
{
text-decoration: none !important;
padding-bottom: 10px;
text-decoration: none;
font-size: 1em;
color: black;
font-weight: bold;
border: solid white 1px;
text-align: center;
font-family: 'Raleway', sans-serif;
   
   
}


#navigation
{

   width: 100%;
   background-color: white;
   border-bottom: solid grey 1px;
   box-shadow: 2px 2px 2px grey;
   height: 40px;
   justify-content: space-between;
   margin-top: 40px;
 
  
}


#couleur1:focus 
{   
    background-color: #4592cb !important;
    padding:6px !important;
    border-radius: 10px !important;
}

#couleur2:focus
{
    background-color:aquamarine !important;
    padding:6px !important;
    border-radius: 10px !important;
}

#couleur3:focus
{
    background-color: #c0321c !important;
    padding:6px !important;
    border-radius: 10px !important;
}

#couleur4:focus
{
    background-color: #ffeaa7 !important;
    padding:6px !important;
    border-radius: 10px !important;
}

#menuFlottant
{
	position: fixed;
	width: 100%;
    height: 150px;
    z-index: 2;
}

#zoneNews
{

height: 80px;

}



#actu
{
position: fixed;
  right: 10px;
  left: 10px;
  top: 100%;
  right: 10px;
  margin-top: -80px;
  margin-bottom: -10px;
	height: 60px;

	padding-bottom: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	border: solid rgb(194, 167, 129) 2px;
	box-shadow: 4px 4px 6px ;
	background-color: rgb(243, 230, 212);
    overflow: auto;
    font-family: 'Raleway', sans-serif;
}

#badgeresto
{
	background-color: #4592cb;
	padding:4px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

#badgebar
{
	background-color:#c0321c;
	padding:4px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

#badgelieux
{
    background-color: aquamarine;
	padding:4px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

#bulleFlottante
{
	position: fixed;
	border: solid black 2px;
	border-radius: 90px;
	 right: 0;
  top: 75%;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-top: -2.5em;
  background-image:url("pictures/70px.jpg");
  z-index:3;
  opacity:0.8;
  

}

#corpst
{
	padding-top: 220px;
	margin-bottom: 100px;
}


#bulle
{
	border: solid black 2px;
	border-radius: 90px;
	 right: 0;
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -2.5em;
  
  float: left;

}

#bio
{
	padding-top: 20px;
}
/*contact*/

label
{
  margin: 40px;
}

textarea
{
  width: 60%;
  height: 150px;
  overflow: auto; 
}



#moi
{
text-align: center;
color: grey;
}

#about
{

	margin-bottom: 20px;
	padding-left: 90px;
}

#contact
{
	text-align: center;
	margin-top: 100px;
	color: grey;
}

@media (max-width: 575.98px) {
	#contactoff{
		display: none;
	}
	

	#titre
{
    padding-top: 5px;
    padding-left: 15px;
    color: black;
    font-size: 2em; 
    transition: 1s; 
    font-family: 'Raleway', sans-serif;
}


.bouton
{

    display: none;
    
	padding-bottom: 1px;

  text-decoration: none;
  font-size: 0.7em;
  color: black;
  font-weight: bold;

	border: solid white 1px;
    text-align: left;
   
   
}
#navigation
{
    display: none;
   width: 100%;
   background-color: white;
   border-bottom: solid grey 1px;
   box-shadow: 2px 2px 2px grey;


   height: 40px;
   justify-content: space-around;
   margin-top: -16px;
   margin-left: -10px;
   margin-right: -10px;
   
 
}

#menuport
{
	display: none;
}


}
@media (min-width: 575.98px) {
	#bulleFlottante{
		display: none;
	}
	
	
}


.imgtest{
    border-radius:5px;
    border:5px solid white;
    position: relative;
    width: 100%;
    height: 80%;
    position: center;
    
}
    

.map{
    
    float: inherit;
    position:absolute;
    height: 60px;
    width: 60px;
    left:10%;
    top:5%;
    border-radius:50px;
    
}


#bleu{
    background-color:#4592cb;
}

#rouge{
    background-color:#c0321c;
}

#vert{
    background-color:aquamarine;
}

.far{
    position: absolute;
    font-size: 38px;
    float: inherit;
    left:10px;
    top:9px;
    
}


.p1{
    background-color: white;
    width: 100%;
    border-radius:5px;
    border:5px solid white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

h2{
    
    color:#fde9b7;
    font-size:60px;
    font-weight: bolder;
    text-align: center;
    text-shadow:5px 5px 5px #bb5f11;
    width:100%;
    margin:auto;
    font-family: 'Raleway', sans-serif;
}

h3{
    background-color: white;
    width: 100%;
    border-radius:5px;
    border:5px solid white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}



/*modif fusion ----------------------------------------------------------------------------------------------------------------------*/

.container
{
	z-index: 1;
    padding-top: 250px;
    background-color: #ffeaa7;
    }